@model IEnumerable<Models.Game>

@{
    ViewData["Title"] = "Home Page";
}

<h4>Recently added games</h4>
<div id="gamelist">
    @foreach (var item in Model)
    {
        <div class="game card mb-3">
            <a onclick="@("window.location.href='" + @Url.Action("Index", "Game", new { id = item.Name }) + "'");">
                <h3 class="card-header">@item.Name</h3>
                <div class="card-body">
                    <h5 class="card-title">@item.Score</h5>
                    <h6 class="game-description card-subtitle text-muted">@item.Description</h6>
                </div>
            </a>
        </div>
    }
</div>


