@using Microsoft.AspNetCore.Rewrite.Internal
@using Models
@model Models.Game

@{
    ViewData["Title"] = "View";
}

<h2>@Model.Name</h2>
<dl class="dl-horizontal">
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
</dl>
    <h4>Overall score: @Model.Score</h4>
    <hr />

@if (ViewBag.ReviewExists != "true")
{
    <div>
        <button onclick="@("window.location.href='"+ @Url.Action("Create", "Review", new {gameName = Model.Name }) + "'");" type="button" class="btn btn-primary">Write a review</button>
    </div>
}


@foreach (Review review in Model.Reviews)
{
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Username</div>
        <div class="card-body">
            <h4 class="card-title">@review.Score</h4>
            <p class="card-text" style="font-style: italic">"@review.Description"</p>
        </div>
    </div>
}

